@page
@model ConsoleCafe.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="container">
    <table class="table table-bordered table-striped bg-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <!-- Updated the page name to View -->
                    <td><a asp-page="View" asp-route-id="@product.Id">Read</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
   
    <!-- Added a create button at the bottom of the index page.-->
    <div class="container">
        <div class="text-center">
        <h4>Create your own games here</h4>
            <a asp-page="Create" class="btn btn-second">+ Create</a>
        </div>
    </div>