@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="container">
    <!-- Added a message that we will be adding more games to top of index page -->
    <h4>More games coming soon! Please check back to see what we add!</h4>
    
    <table class="table table-bordered table-striped bg-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <!-- Updated the page name to View -Ravi.-->
                    <td><a asp-page="View" asp-route-id="@product.Id">Read</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>