@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}

<h1 class="white-text">@ViewData["Title"]</h1>
    <p class ="white-text">Welcome to Console Cafe, the gaming wonderland where pixels come to life and gamers find their true calling! Prepare to embark on an epic quest through a realm of thrilling adventures and limitless possibilities.</p>

    <p class ="white-text">At Console Cafe, we are on a mission to transform ordinary moments into extraordinary gaming experiences. Immerse yourself in our hand-picked collection of video games that spans galaxies, eras, and dimensions. Whether you're in pursuit of the lost treasures of ancient civilizations or defending the universe against alien invasions, we've got the perfect game to satisfy your gaming cravings.</p>

    <h3 class ="white-text">Meet Our Awesome Developers</h3>

<div class="about-us white-text">
 <div class="dev-card">
    <div class="dev-card">
        <img src="~/images/ravi1.jpeg" class="rounded-circle about-us" />
        <p>Meet Ravi Tarun, He is a MSCS student who is passionate about Computer Graphics and Video Games</p>
    </div>
    <div class="dev-card">
        <img src="~/images/maria.png" class="rounded-circle about-us" />
            <p>Meet Maria Cuevas, She is a MSCS student who is passionate about data science and human-computer interaction</p>
    </div>
    <div class="dev-card">
        <img src="~/images/srikanth.jpg" class="rounded-circle about-us" />
        <p>Meet Srikanth Reddy, He is a MSCS student who is passionate about Machine Learning and AI</p>
    </div>
</div>
</div>