@page
@model CommunityModel
@{
    ViewData["Title"] = "Community Page";
}

<div class="container">
            <img class = "logo-img" src="~/images/black-bg.jpg" alt="Console Cafe Community">
            <span class="logo-text-overlay">
                Console Cafe Community <br /><br />
            Join over growing Social Club members worldwide on the official Console Cafe Games platform to enhance and extend your gaming experience.</span>
       
        <form class="email-form" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <button class = "btn btn-primary" type="submit">Join</button>
        </form>
</div>