@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<center>
    <img src="~/images/error_meme2.jpg" />
    <br />
    <br />
    <h5>Well, well, well... You've found the hidden treasure of errors. Now, take a step back to the previous page</h5>
    <!-- Start Back Button to revert back using the user history-->
    <form>
        <input class = "btn btn-primary" type="button" value="Go back!" onclick="history.back()">
    </form>
    <br />
    <!-- End Back Button -->
</center>