@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Updated the Privacy content to be readable.-->
<div class="content-bgcolor">
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
</div>
