
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Console Cafe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ultra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pantra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <header>
        <nav class=" bg-navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-navbar border-bottom box-shadow mb-3 ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/images/Logo/Logo1.png" title="Console Cafe" alt="Console Cafe Logo" class="logo-image" />
                    CONSOLE CAFE
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Start of the navbar collapse anything in here will collapse when the screen is smaller-->
                <div class="navbar-collapse collapse">
                    <!-- This affects the list of links on the right side of the navbar-->
                    <ul class="navbar-nav">
                        <!--Added a Home button-->
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">HOME</a>
                        </li>
                        <!-- Add a temporary games button to test CRUDi index page.-->
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Product/Index">GAMES</a>
                        </li>
                        <!--Added an About Us button-->
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/About">ABOUT US</a>
                        </li>
                        <!--Added a Privacy button-->
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Privacy">PRIVACY</a>
                        </li>
                        <!-- Add a sign in button that is right aligned.-->
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/SignIn">SIGN IN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted bg-footer">
    <div class="container">
    &copy; 2023 - ConsoleCafe.WebSite - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
    </footer> *@

    <footer class="border-top footer text-muted bg-footer">
        <div class="container">
            &copy; 2023 - ConsoleCafe.WebSite - <a asp-area="" asp-page="/Privacy" class="privacy-link text-muted">Privacy</a>
            <div class="social-icons float-right">
                <a href="https://www.facebook.com/ravitarunprasad.nimmalapudi" class="social-icon text-muted" target="_blank"><i class="fab fa-facebook-f fa-sm"></i></a>
                <a href="https://twitter.com/rtpntweets" class="social-icon text-muted" target="_blank"><i class="fab fa-twitter fa-sm"></i></a>
                <a href="https://www.instagram.com/rtpnxinsta/" class="social-icon text-muted" target="_blank"><i class="fab fa-instagram fa-sm"></i></a>
                <!-- Add more social media icons here -->
            </div>
        </div>
    </footer>





    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

