.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Pantra', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 330px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: #fbfafd;
}

.logo-image {
    max-width: 15%;
    height: fit-content;
    padding: 1rem;
}

/*Update colour of the body. */
.background-color {
    color: black;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    font-family: 'Pantra', sans-serif;
    background-color: #252152;
    border-color: #252152;
}

    .btn-primary:hover {
        color: #fff;
        background-color: darkorange;
        border-color: #e9a8a6;
    }

/* Add class for filter labels on home page */
.filter-label {
    color: #FFFFFF;
}

.btn-filter {
    background-color: #FFFFFF;
}

    .btn-filter:hover {
        background-color: darkorange;
        border-color: darkorange;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar-collapse collapse {
    align-content: center;
}

.nav-link text-white {
    text-align: center;
}

.navbar-collapse {
    font-size: 18px;
    justify-content: center;
}

    .navbar-collapse ul {
        margin: 0;
        padding: 0;
        display: inline-block;
    }

    .navbar-collapse li {
        display: inline-block;
    }

a.navbar-brand {
    white-space: normal;
    font-family: Ultra;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
    font-weight: 500;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

    .navbar-nav .nav-item {
        display: inline-block;
        float: none;
    }

/* Created a class for updating the content's background colour */
.content-bgcolor {
    background-color: #FFF;
    padding: 1rem;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /*Updated the background colour. */
    background-color: black;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

p {
    font-family: 'Pantra', sans-serif;
}
/*Added a class to change the font color to white. */
.white-text {
    color: #FFFFFF;
}

h1 {
    font-family: 'Ultra', sans-serif;
    font-weight: 100;
    font-size: xx-large;
    color: black;
}

h2 {
    font-family: 'Ultra', sans-serif;
    font-weight: 100;
    color: #FFFFFF;
}

h3 {
    font-family: 'Ultra', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
}
/* Added a font color of white for level 4 headers */
h4 {
    font-family: 'Ultra', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
}

ul {
    font-family: 'Pantra', sans-serif;
}
/* Added class form-group to update color to be visible against background */
.form-group {
    color: #FFFFFF;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Pantra', sans-serif;
}
/*Backgrounds*/
.bg-navbar {
    background: #111111; /* Fallback color for older browsers */
    background: linear-gradient(to right, #E3170A, #11111);
}

.bg-footer {
    background: linear-gradient(to right, #E3170A, #11111);
}

/*Added a table background section to format index table */
.bg-table {
    background-color: white;
}

/*Added Hover color for the buttons on nav bar */
a.text-light:hover, a.text-light:focus {
    color: #ffa500 !important;
}

/*Added styling for the social media icons*/
.social-icon {
    color: white;
    font-size: 24px;
    margin-right: 10px;
}
    /* Added Hover color for social media icons*/
    .social-icon:hover {
        color: #ffa500 !important;
    }

/* Added a text color for the privacy button link on footer*/
.privacy-link {
    color: white;
}
    /* Added hover color for privacy on footer */
    .privacy-link:hover {
        color: #ffa500 !important;
    }
/* Moved the filter function on homepage to right side*/
#GameType {
    float: right;
}

/* Start of About us page styling */
.dev-card {
    display: flex;
    flex-direction: row;
    width: 1300px;
    margin-top: 20px;
    margin-right: 50px;
}

.about-us {
    width: 100px;
}

.dev-card > p {
    text-align: center;
    align-self: center;
    padding: 5px;
}
/* End of About us page styling */

/* Styling for regular text*/
.normal-text {
    font-family: 'Pantra', sans-serif;
}